<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="CS408 Team 9">
  <link rel="icon" href="favicon.ico">

  <title>TripEase - Login</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/cover.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="site-wrapper" style="background-color:rgba(0,0,0,0.7)">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">TripEase</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="active"><a href="/login">Login</a></li>
                <li><a href="/create">Create An Account</a></li>
		<li><a href="/userdetails">Your Account</a><li>
		<li><a href="/userpreferences">Your Preferences</a><li>
		<li><a href="/tripPossibilities">Your Trip Ideas</a><li>
		<li><a href="/userratings">Ratings</a><li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover" style="margin:-5% -10%;">
          <h1 class="cover-heading" style="text-align:left; margin-bottom:20px;">Please Login</h1>
          <form class="form-horizontal" action="/login" method="post">
            <div class="form-group">
              <label for="inputUserName" class="control-label col-xs-2">Username</label>
              <div class="col-xs-10">
                <input type="text" name="username" class="form-control" id="inputUserName" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="control-label col-xs-2">Password</label>
              <div class="col-xs-10">
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
        </form>
      </div>

      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
