<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="CS408 Team 9">
    <link rel="icon" href="favicon.ico">

    <title>TripEase</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="bg1">
   <div class="bg1,bg2,bg3,bg4,bg5" style="no-repeat -9999px -9999px;"></div>

<div class="site-wrapper" style="background-color:rgba(0,0,0,0.7)">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <a href="/"><h3 class="masthead-brand">TripEase</h3></a>
                    <nav>
                                    <ul class="nav masthead-nav">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                    @if{ context.user() == null}
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/create">Create An Account</a></li>
                                    @end{}
                                    @if{ context.user() != null}
                                        <li><a href="/userdetails">Your Account</a></li>
                                        <li><a href="/userpreferences">Your Preferences</a><li>
                                        <li><a href="/tripPossibilities">Your Trip Ideas</a><li>
                                        <li><a href="/logoff">Log Off </a></li>
                                    @end{}
                                    </ul>
                                </nav>
                </div>
            </div>

          <div class="inner cover">
            <div class="inner cover" style="margin:-5% -10%;">
                <h1 class="cover-heading" style="text-align:left; margin-bottom:20px;">Plan Your Trip!</h1>
					<p>
					@foreach{entry: context.get("hotels")}
					@if{ entry != null }
					@{entry}<br>
					@end{}
					@end{}
					</p>
            </div>
          </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
        
    <script>
    	$(document).ready(function() {
		    var rand_no = Math.ceil(5 * Math.random());
			switch(rand_no) {
				case 0: $("body").addClass("bg1");
						break;
				case 1: $("body").addClass("bg2");
						break;
				case 2: $("body").addClass("bg3");
						break;
				case 3: $("body").addClass("bg4");
						break;
				case 4: $("body").addClass("bg5");
						break;
				default: $("body").addClass("bg1");
			}
    	});
    </script>
  </body>
</html>
